<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="MaxWaitTime" value="10000" />
		<add key="MinWaitTime" value="5000" />
		<add key="BeepFrequency" value="500" />
		<add key="BeepDuration" value="1500" />
	</appSettings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

</configuration>